@import '../../styles/themes';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__text {
  background: $lilac-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Playfair Display", serif;
  font-size: 6.3rem;
  font-weight: 500;
  line-height: 6.0rem;
}

.content__linesWithStar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.line1, .line2 {
  background-color: $lilac-200;
  height: 0.2rem;
  width: 10.7rem;
}