@import '../../styles/themes';

.invitationContentBox {
  background: $black-100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0rem;
}

.invitationContentBox__photoAndInformation {
  display: flex;
  flex-direction: column;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    flex-direction: row;
    height: 100%;
    width: 70.0rem;
    overflow: hidden;
  }

}

.invitationContentBox__photoSection {
  background: $lilac-100;
  width: 100vw;
  height: 47.0rem;
  padding: 1.1rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-M)){
    height: 55.0rem;
  }

  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-L)){
    height: 60.0rem;
  }

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    max-width: 35.0rem;
    max-height: 50.0rem;
  }
}

.invitationContentBox__marianaPhoto {
  width: 100%;
  height: 100%;
}

.invitationContentBox__informationSection {
  width: 100%;
  height: 67.0rem;
  
  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    width: 50%;
    max-height: 50.0rem;
  }
}

// .invitationContentBox__actionButtons {
//   background-color: blue;
//   width: 100%;
//   height: 10.0rem;
// }