@import '../../styles/themes';
@import '../../styles/animations.scss';

.invitationContentBox {
  background: $black-100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0rem;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    justify-content: center;
  }
}

.invitationContentBox__photoAndInformation {
  display: flex;
  flex-direction: column;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    flex-direction: row;
    width: 70.0rem;
    min-height: 51.0rem;
    overflow: hidden;
    gap: 3.0rem;
  }

}

.invitationContentBox__photoSection {
  background: $lilac-100;
  width: 100vw;
  height: 47.0rem;
  padding: 1.1rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: topdown 2s;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-M)){
    height: 55.0rem;
  }

  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-L)){
    height: 60.0rem;
  }

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    max-width: 35.0rem;
    max-height: 50.0rem;
  }
}

.invitationContentBox__marianaPhoto {
  width: 100%;
  height: 100%;
}

.invitationContentBox__informationSection {
  width: 100%;
  height: 67.0rem;
  animation: downtop 2s;
  
  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    width: 50%;
    max-height: 51.0rem;
  }
}

.invitationContentBox__actionButtons {
  display: none;
  animation: appear 1s  1s ease-in-out backwards;
  
  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    display: flex;
    flex-direction: row;
    padding-bottom: 4.0rem;
    padding-top: 3.0rem;
    align-items: center;
    gap: 5.0rem;
  }

}