@import './themes';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
}