@import '../../styles/themes';

.welcomeContentBox {
  background: $black-100;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.welcomeContentBox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.welcomeContentBox__cornerSupArts {

  .CornerSupLeft {
    position: absolute;
    top: 1.0rem;
    left: 1.0rem;
  }
  .CornerSupRight {
    position: absolute;
    top: 1.0rem;
    right: 1.0rem;
  }
  
}

.welcomeContentBox__cornerInfArts {

  .CornerInfLeft {
    position: absolute;
    bottom: 1.0rem;
    left: 1.0rem;
  }
  .CornerInfRight {
    position: absolute;
    bottom: 1.0rem;
    right: 1.0rem;
  }

}

.welcomeContentBox__welcomeMessage {
  font-family: "Playfair Display", serif;
  font-size: 2.7rem;
  text-align: center;
  line-height: 2.8rem;
  max-width: 20.0rem;
  
  background: $lilac-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  
  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    font-size: 3.2rem;
    max-width: 45.0rem;
  }
  
  }
  
  .welcomeContentBox__15thBirth {
    font-family: "Playfair Display", serif;
    font-size: 6.4rem;
    line-height: 7.0rem;
    text-align: center;
    max-width: 11.9rem;
    background: $lilac-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    
    @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
      font-size: 7.2rem;
      max-width: 11.9rem;
      line-height: 8.0rem;
    }
}

.welcomeContentBox__ButtonToEnterOnInvitation {
  z-index: 1;
}