@import '../../styles/themes';

.contentBox {
  background: $black-100;
  width: 100vw;
  height: 100vh;
  padding: 1.0rem;
  overflow-y: hidden;
}

.contentBox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.contentBox__cornerSupArts {

  .CornerSupLeft {
    position: absolute;
    top: 1.0rem;
    left: 1.0rem;
  }
  .CornerSupRight {
    position: absolute;
    top: 1.0rem;
    right: 1.0rem;
  }
  
}

.contentBox__cornerInfArts {

  .CornerInfLeft {
    position: absolute;
    bottom: 1.0rem;
    left: 1.0rem;
  }
  .CornerInfRight {
    position: absolute;
    bottom: 1.0rem;
    right: 1.0rem;
  }

}

.contentBox__welcomeMessage {
  color: $lilac-200;
  font-family: "Playfair Display", serif;
  font-size: 2.7rem;
  text-align: center;
  line-height: 2.8rem;
  max-width: 20.0rem;
  }
  
  .contentBox__15thBirth {
    color: $lilac-200;
    font-family: "Playfair Display", serif;
    font-size: 6.4rem;
    line-height: 5.5rem;
  }