@import '../../styles/themes';
@import '../../styles/animations.scss';

.birthInformationsContent {
 position: relative;
 width: 100%;
 height: 100%;
 background-color: $black-100;
}

.birthInformationsContent__main {
  animation: downtop 2s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 2.0rem 0rem;
}

.birthInformationsContent__cornerSupArts {

  .CornerSupLeft {
    position: absolute;
    top: 1.0rem;
    left: 1.0rem;
  }
  .CornerSupRight {
    position: absolute;
    top: 1.0rem;
    right: 1.0rem;
  }

  animation: appear 1s  1s ease-in-out backwards;
  
}

.birthInformationsContent__cornerInfArts {
  
  .CornerInfLeft {
    position: absolute;
    bottom: 1.0rem;
    left: 1.0rem;
  }
  .CornerInfRight {
    position: absolute;
    bottom: 1.0rem;
    right: 1.0rem;
  }
  
  animation: appear 1s  1s ease-in-out backwards;
  
}

.birthInformationsContent__dateAndHour {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    margin-top: 3.0rem;
  }
  
  .date {
    color: $lilac-200;
    font-size: 3.0rem;
  }

  .dayAndHour {
    background: $lilac-100;
    color: $white-200;
    font-size: 2.5rem;
    padding: .2rem .9rem;
    border-radius: .5rem;
  }

}

p {
  color: $white-200;
}

.birthInformationsContent__InvitionPhrase {
  font-family: "Playfair Display", serif;
  font-size: 2.1rem;
  line-height: 2.8rem;
  text-align: center;
  width: 25.0rem;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-L)){
    font-size: 2.5rem;
    width: 28.0rem;
  }

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    font-size: 2.1rem;
    width: 25.0rem;
  }
}

.birthInformationsContent__partyAddress {
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  width: 25.0rem;
  
  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-L)){
    font-size: 2.2rem;
    width: 30.0rem;
    line-height: 2.5rem;
  }
  
  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    font-size: 1.5rem;
    line-height: 1.8rem;
    width: 25.0rem;
  }
}

.birthInformationsContent__dresscode {
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  width: 25.0rem;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-L)){
    font-size: 2.2rem;
    width: 30.0rem;
    line-height: 2.5rem;
  }

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    font-size: 1.8rem;
    width: 25.0rem;
    margin-bottom: 3.0rem;
  }
}

.birthInformationsContent__actionButtons {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin-bottom: 1.0rem;

  @media(min-width: map-get($DEVICE_BREAKPOINTS, MOBILE-L)){
    gap: 2.5rem;
  }

  @media(min-width: map-get($DEVICE_BREAKPOINTS, TABLET)){
    display: none;
  }
}